{% extends "layout.html" %}
{% load static %}

{% block body %}
<div class="resources-container text-center">
    <h2><strong>Resources</strong></h2>

    <h3>Nutrition Resources:</h3>
    <p>
        <a href="https://www.canada.ca/en/health-canada/services/canada-food-guide.html" target="_blank"><strong>Canada's Food Guide:</strong></a> As a resident of Montreal, Canada's Food Guide offers tailored advice on healthy eating habits, emphasizing the consumption of a variety of fruits, vegetables, whole grains, and proteins.
    </p>
    <p>
        <a href="https://www.myplate.gov/" target="_blank"><strong>MyPlate by the U.S. Department of Agriculture:</strong></a> Provides a visual guide to building balanced meals, focusing on portion control and diversity in food choices.
    </p>
    <p>
        <a href="https://www.hsph.harvard.edu/nutritionsource/healthy-eating-plate/" target="_blank"><strong>Healthy Eating Plate by Harvard T.H. Chan School of Public Health:</strong></a> Offers a comprehensive overview of healthy meal composition, highlighting the importance of whole grains, healthy proteins, and vegetables.
    </p>
    <p>
        <a href="https://www.nutrition.gov/" target="_blank"><strong>Nutrition.gov:</strong></a> A resource offering a wide range of information on healthy eating, including dietary guidelines and tips for various life stages.
    </p>

    <h3>Fitness Resources:</h3>
    <p>
        <a href="https://www.muscleandstrength.com/" target="_blank"><strong>Muscle & Strength:</strong></a> Features an extensive database of workout routines suitable for different fitness levels and goals, including beginner-friendly plans.
    </p>
    <p>
        <a href="https://www.bodybuilding.com/" target="_blank"><strong>Bodybuilding.com:</strong></a> Provides a variety of workout programs, articles, and videos to guide you through strength training and muscle-building exercises.
    </p>
    <p>
        <a href="https://athleanx.com/" target="_blank"><strong>Athlean-X:</strong></a> Offers structured workout plans focusing on functional training and injury prevention, suitable for various fitness levels.
    </p>
    <p>
        <a href="https://www.muscleandfitness.com/" target="_blank"><strong>Muscle & Fitness:</strong></a> Delivers workout routines and training programs designed to help you achieve specific fitness goals, from muscle gain to fat loss.
    </p>

    <h3>Additional Tips:</h3>
    <p><strong>Consistency:</strong> Establish a regular workout schedule and adhere to it.</p>
    <p><strong>Balanced Diet:</strong> Incorporate a variety of nutrient-dense foods into your meals to support your fitness goals.</p>
    <p><strong>Hydration:</strong> Ensure adequate water intake throughout the day.</p>
    <p><strong>Rest:</strong> Allow sufficient time for recovery between workouts to prevent injury and promote muscle growth.</p>
</div>
{% endblock %}